<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>control.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <display-name>Hytek_Admin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Signin</display-name>
    <servlet-name>Signin</servlet-name>
    <servlet-class>control.Signin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signin</servlet-name>
    <url-pattern>/Signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dashboard</display-name>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>control.Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/Dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SideBar</display-name>
    <servlet-name>SideBar</servlet-name>
    <servlet-class>control.SideBar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SideBar</servlet-name>
    <url-pattern>/SideBar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Header</display-name>
    <servlet-name>Header</servlet-name>
    <servlet-class>control.Header</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Header</servlet-name>
    <url-pattern>/Header</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>control.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountRecovery</display-name>
    <servlet-name>AccountRecovery</servlet-name>
    <servlet-class>control.AccountRecovery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountRecovery</servlet-name>
    <url-pattern>/AccountRecovery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>control.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailCommande</display-name>
    <servlet-name>DetailCommande</servlet-name>
    <servlet-class>control.DetailCommande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailCommande</servlet-name>
    <url-pattern>/DetailCommande</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Archive</display-name>
    <servlet-name>Archive</servlet-name>
    <servlet-class>control.Archive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Archive</servlet-name>
    <url-pattern>/Archive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableCommandes</display-name>
    <servlet-name>TableCommandes</servlet-name>
    <servlet-class>control.TableCommandes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableCommandes</servlet-name>
    <url-pattern>/TableCommandes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionSousCategorie</display-name>
    <servlet-name>GestionSousCategorie</servlet-name>
    <servlet-class>control.GestionSousCategorie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionSousCategorie</servlet-name>
    <url-pattern>/GestionSousCategorie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionCategorie</display-name>
    <servlet-name>GestionCategorie</servlet-name>
    <servlet-class>control.GestionCategorie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionCategorie</servlet-name>
    <url-pattern>/GestionCategorie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailProduit</display-name>
    <servlet-name>DetailProduit</servlet-name>
    <servlet-class>control.DetailProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailProduit</servlet-name>
    <url-pattern>/DetailProduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableProduits</display-name>
    <servlet-name>TableProduits</servlet-name>
    <servlet-class>control.TableProduits</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableProduits</servlet-name>
    <url-pattern>/TableProduits</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionMessagerie</display-name>
    <servlet-name>GestionMessagerie</servlet-name>
    <servlet-class>control.GestionMessagerie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionMessagerie</servlet-name>
    <url-pattern>/GestionMessagerie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailMessage</display-name>
    <servlet-name>DetailMessage</servlet-name>
    <servlet-class>control.DetailMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailMessage</servlet-name>
    <url-pattern>/DetailMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutProduit</display-name>
    <servlet-name>AjoutProduit</servlet-name>
    <servlet-class>control.AjoutProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutProduit</servlet-name>
    <url-pattern>/AjoutProduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserClientList</display-name>
    <servlet-name>UserClientList</servlet-name>
    <servlet-class>control.UserClientList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserClientList</servlet-name>
    <url-pattern>/UserClientList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserList</display-name>
    <servlet-name>UserList</servlet-name>
    <servlet-class>control.UserList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserList</servlet-name>
    <url-pattern>/UserList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProspect</display-name>
    <servlet-name>UserProspect</servlet-name>
    <servlet-class>control.UserProspect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProspect</servlet-name>
    <url-pattern>/UserProspect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProspectList</display-name>
    <servlet-name>UserProspectList</servlet-name>
    <servlet-class>control.UserProspectList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProspectList</servlet-name>
    <url-pattern>/UserProspectList</url-pattern>
  </servlet-mapping>
</web-app>