<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>control.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <display-name>Hytek_Admin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Signin</display-name>
    <servlet-name>Signin</servlet-name>
    <servlet-class>control.Signin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signin</servlet-name>
    <url-pattern>/Signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dashboard</display-name>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>control.Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/Dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SideBar</display-name>
    <servlet-name>SideBar</servlet-name>
    <servlet-class>control.SideBar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SideBar</servlet-name>
    <url-pattern>/SideBar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Header</display-name>
    <servlet-name>Header</servlet-name>
    <servlet-class>control.Header</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Header</servlet-name>
    <url-pattern>/Header</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>control.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountRecovery</display-name>
    <servlet-name>AccountRecovery</servlet-name>
    <servlet-class>control.AccountRecovery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountRecovery</servlet-name>
    <url-pattern>/AccountRecovery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>control.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailCommande</display-name>
    <servlet-name>DetailCommande</servlet-name>
    <servlet-class>control.DetailCommande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailCommande</servlet-name>
    <url-pattern>/DetailCommande</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Archive</display-name>
    <servlet-name>Archive</servlet-name>
    <servlet-class>control.Archive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Archive</servlet-name>
    <url-pattern>/Archive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableCommandes</display-name>
    <servlet-name>TableCommandes</servlet-name>
    <servlet-class>control.TableCommandes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableCommandes</servlet-name>
    <url-pattern>/TableCommandes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionSousCategorie</display-name>
    <servlet-name>GestionSousCategorie</servlet-name>
    <servlet-class>control.GestionSousCategorie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionSousCategorie</servlet-name>
    <url-pattern>/GestionSousCategorie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionCategorie</display-name>
    <servlet-name>GestionCategorie</servlet-name>
    <servlet-class>control.GestionCategorie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionCategorie</servlet-name>
    <url-pattern>/GestionCategorie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailProduit</display-name>
    <servlet-name>DetailProduit</servlet-name>
    <servlet-class>control.DetailProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailProduit</servlet-name>
    <url-pattern>/DetailProduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableProduits</display-name>
    <servlet-name>TableProduits</servlet-name>
    <servlet-class>control.TableProduits</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableProduits</servlet-name>
    <url-pattern>/TableProduits</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionMessagerie</display-name>
    <servlet-name>GestionMessagerie</servlet-name>
    <servlet-class>control.GestionMessagerie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionMessagerie</servlet-name>
    <url-pattern>/GestionMessagerie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailMessage</display-name>
    <servlet-name>DetailMessage</servlet-name>
    <servlet-class>control.DetailMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailMessage</servlet-name>
    <url-pattern>/DetailMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutProduit</display-name>
    <servlet-name>AjoutProduit</servlet-name>
    <servlet-class>control.AjoutProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutProduit</servlet-name>
    <url-pattern>/AjoutProduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableCommandesByEtat</display-name>
    <servlet-name>TableCommandesByEtat</servlet-name>
    <servlet-class>control.TableCommandesByEtat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableCommandesByEtat</servlet-name>
    <url-pattern>/TableCommandesByEtat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FicheProduit</display-name>
    <servlet-name>FicheProduit</servlet-name>
    <servlet-class>control.FicheProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FicheProduit</servlet-name>
    <url-pattern>/FicheProduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopRecherches</display-name>
    <servlet-name>TopRecherches</servlet-name>
    <servlet-class>control.TopRecherches</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopRecherches</servlet-name>
    <url-pattern>/TopRecherches</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserClientList</display-name>
    <servlet-name>UserClientList</servlet-name>
    <servlet-class>control.UserClientList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserClientList</servlet-name>
    <url-pattern>/UserClientList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserList</display-name>
    <servlet-name>UserList</servlet-name>
    <servlet-class>control.UserList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserList</servlet-name>
    <url-pattern>/UserList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProspect</display-name>
    <servlet-name>UserProspect</servlet-name>
    <servlet-class>control.UserProspect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProspect</servlet-name>
    <url-pattern>/UserProspect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProspectList</display-name>
    <servlet-name>UserProspectList</servlet-name>
    <servlet-class>control.UserProspectList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProspectList</servlet-name>
    <url-pattern>/UserProspectList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserVisitorList</display-name>
    <servlet-name>UserVisitorList</servlet-name>
    <servlet-class>control.UserVisitorList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserVisitorList</servlet-name>
    <url-pattern>/UserVisitorList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserClientCard</display-name>
    <servlet-name>UserClientCard</servlet-name>
    <servlet-class>control.UserClientCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserClientCard</servlet-name>
    <url-pattern>/UserClientCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FournisseursList</display-name>
    <servlet-name>FournisseursList</servlet-name>
    <servlet-class>control.FournisseursList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FournisseursList</servlet-name>
    <url-pattern>/FournisseursList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FournisseursHistoriqueAchat</display-name>
    <servlet-name>FournisseursHistoriqueAchat</servlet-name>
    <servlet-class>control.FournisseursHistoriqueAchat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FournisseursHistoriqueAchat</servlet-name>
    <url-pattern>/FournisseursHistoriqueAchat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FournisseursAchatsEnCours</display-name>
    <servlet-name>FournisseursAchatsEnCours</servlet-name>
    <servlet-class>control.FournisseursAchatsEnCours</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FournisseursAchatsEnCours</servlet-name>
    <url-pattern>/FournisseursAchatsEnCours</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FournisseurCommandeForm</display-name>
    <servlet-name>FournisseurCommandeForm</servlet-name>
    <servlet-class>control.FournisseurCommandeForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FournisseurCommandeForm</servlet-name>
    <url-pattern>/FournisseurCommandeForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SiteFrontOffice</display-name>
    <servlet-name>SiteFrontOffice</servlet-name>
    <servlet-class>control.SiteFrontOffice</servlet-class>
    <multipart-config>
      <location>/Users/tanguymanas/Documents/developpement/eclipse-202206-workspace-web/Projet-JEE-eCommerce-backOffice-20220705/src/main/webapp/assets/img/logotmp/</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>SiteFrontOffice</servlet-name>
    <url-pattern>/SiteFrontOffice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProspectCard</display-name>
    <servlet-name>UserProspectCard</servlet-name>
    <servlet-class>control.UserProspectCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProspectCard</servlet-name>
    <url-pattern>/UserProspectCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SiteFrontOfficeByMcKenzie</display-name>
    <servlet-name>SiteFrontOfficeByMcKenzie</servlet-name>
    <servlet-class>control.SiteFrontOfficeByMcKenzie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SiteFrontOfficeByMcKenzie</servlet-name>
    <url-pattern>/SiteFrontOfficeByMcKenzie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminList</display-name>
    <servlet-name>AdminList</servlet-name>
    <servlet-class>control.AdminList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminList</servlet-name>
    <url-pattern>/AdminList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCard</display-name>
    <servlet-name>AdminCard</servlet-name>
    <servlet-class>control.AdminCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCard</servlet-name>
    <url-pattern>/AdminCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentairesList</display-name>
    <servlet-name>CommentairesList</servlet-name>
    <servlet-class>control.CommentairesList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentairesList</servlet-name>
    <url-pattern>/CommentairesList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentairesUser</display-name>
    <servlet-name>CommentairesUser</servlet-name>
    <servlet-class>control.CommentairesUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentairesUser</servlet-name>
    <url-pattern>/CommentairesUser</url-pattern>
  </servlet-mapping>
</web-app>